{% extends 'plantilla_base_flex.html' %}
{% load static %} 
{% block content %}
 

<section class="personas"> 
	<article class = "capa-titulo">
	<div class="grid-item1"><p>Una galería de la cocina internacional</p></div> 
	</article>

	<!-- FOTOS DE LAS PRMOMOS DE GALERIA INTERNACIONAL-->
	<div class="contenedor">
		<article class="persona__columna">
			<img src="/static/img/foto1.jpg">
		</article>
		<article class="persona__columna">
			<img src="/static/img/foto2.jpg">
		</article>
		<article class="persona__columna">
			<img src="/static/img/foto3.jpg">
		</article>
		<article class="persona__columna">
			<img src="/static/img/foto4.jpg">
		</article>
		<article class="persona__columna">
			<img src="/static/img/foto5.jpg">
		</article>
		<article class="persona__columna">
			<img src="/static/img/foto6.jpg">
		</article>
		<article class="persona__columna">
			<img src="/static/img/foto7.jpg">
		</article>
		<article class="persona__columna">
			<img src="/static/img/foto8.jpg">
		</article>
		<article class="persona__columna">
			<img src="/static/img/foto9.jpg">
		</article>
		<article class="persona__columna">
			<img src="/static/img/foto10.jpg">
		</article>
		<article class="persona__columna">
			<img src="/static/img/foto11.jpg">
		</article>
		<article class="persona__columna">
			<img src="/static/img/foto13.jpg">
		</article>
		<article class="persona__columna">
			<img src="/static/img/foto14.jpg">
		</article>
		<article class="persona__columna">
			<img src="/static/img/foto15.jpg">
		</article>
		<article class="persona__columna">
			<img src="/static/img/foto16.jpg">
		</article>
	</div>

</section> 

{% endblock %}  